/* Schrift, Abstand zwischen Zeilen, Hintergrund, Schriftfarbe, Abstand */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #e5eaf5; 
    color: #333;
    line-height: 1.6;
    padding: 0 1rem;
}

h1, h2 {
    font-family: 'Merriweather', serif;
    color: black; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9e7dc0; 
    color: white;
    padding: 1rem 0;
}

/* Nutzung von Flexbox. ordnet Inhalt untereinander, zentriert elemente horizontal */
#page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* entfernt die bulletpoints, gleichmäßiger Abstand zwischen Inhalten */
#nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

#nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#nav a:hover {
    color: #d0bdf4; 
}

/* Verwendung von CSS Grid */
main {
    display: grid;
    gap: 2rem;
    margin: 2rem 0;
    background-color: #e5eaf5; 
}

section {
    background-color: #a0d2eb;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

section ul {
    list-style: none;
    padding: 0;
}
/* Bild passt sich immer dem Container an */
section img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}


footer {
    background-color: #333;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

#footer-nav ul {
    list-style: none;
    padding: 0;
}

/* ===== Responsive: Desktop (ab 960px) ===== */
@media (min-width: 960px) {
    #page-title {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
    }
}

/* ===== Responsive: Mobile (bis 600px) ===== */
@media (max-width: 600px) {
    #nav ul {
        flex-direction: column;
        align-items: center;
    }

    main {
        grid-template-columns: 1fr;
    }

    #page-title {
        align-items: flex-start;
    }

    footer {
        font-size: 0.9rem;
    }
}


#info-box {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: #fff;
    border: 2px solid #c72e00;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    max-width: 800px;
    z-index: 1000;
    display:none;
}
#info-box img {
    width: 100%;
    margin-top: 1rem;
    border-radius: 6px;
}
#info-box button {
    margin-top: 1rem;
    background-color: #000000;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}
#info-box button:hover {
    background-color: #c72e00;
}

.map-wrapper {
    position: relative;
    display: inline-block;
  }
  
.map-wrapper img {
    display: block;
    width: 100%;
    height: auto;
  }
  
